### while loop

In [2]:
count = 0
while count < 10:
    print('Tushar')
    count += 1

Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar

In [3]:
count = 0
while count < 10:
    print('Tushar')
    count += 2

Tushar
Tushar
Tushar
Tushar
Tushar

In [6]:
# Find the addition of first 10 natural numbers

num = 1
add = 0
while num <= 10:
    add = add + num
    num += 1
    
print('Addition is:', add)

Addition is: 55

In [8]:
# Find the addition of first 10 odd numbers

num = 1
add = 0
while num <= 20:
    add = add + num
    num += 2
    
print('Addition is:', add)

Addition is: 100

In [10]:
# Find the factorial of the number 
# 5! = 5 * 4 * 2 * 3 * 1

num = int(input('Enter the number: '))

fact = 1
while num > 1:
    fact = fact * num
    num -= 1

print('Factorial is:', fact)

Enter the number: 12
Factorial is: 479001600

In [11]:
# Find the addition of first 10 natural numbers

num = 1
add = 0
while num <= 10:
    add = add + num
    num += 1
else:   
    print('Addition is:', add)

Addition is: 55

### for loop

In [13]:
for n in 34, 12, 99, 31, 48:
    print(n)

34
12
99
31
48

In [14]:
for n in 34, 12, 99, 31, 48:
    print(n * n)

1156
144
9801
961
2304

In [16]:
for i in 34.7, 'Hello', 99, 12.09, 48:
    print(i)

34.7
Hello
99
12.09
48

In [18]:
for c in 'Tushar':
    print(c * 50)

TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu
ssssssssssssssssssssssssssssssssssssssssssssssssss
hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr

In [19]:
for c in 'Tushar':
    print(c + 'X')

TX
uX
sX
hX
aX
rX

In [20]:
for s in 'Ajay','Sita','Akshay','Jeevan','Ram':
    print(s.upper())

AJAY
SITA
AKSHAY
JEEVAN
RAM

In [21]:
for s in 'Ajay','Sita','Akshay','Jeevan','Ram':
    if s.startswith('A'):
        print(s)

Ajay
Akshay

In [22]:
for s in 'Ajay','Sita','Akshay','Jeevan','Ram':
    print(s.upper(), end=' ')

AJAY SITA AKSHAY JEEVAN RAM

### Range function

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [27]:
list(range(4,15,2))

[4, 6, 8, 10, 12, 14]

In [28]:
list(range(15,4,-2))

[15, 13, 11, 9, 7, 5]

In [29]:
for x in range(5):
    print(x)

0
1
2
3
4

In [30]:
# print your name 10 times using for loop

for i in range(10):
    print('Tushar')

Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar

In [31]:
# Find the addition of first 10 natural numbers

add = 0
for i in range(1,11):
    add = add + i
    
print('Addition:', add)

Addition: 55

In [32]:
# Find the addition of first 10 odd numbers

add = 0
for i in range(1,20,2):
    add = add + i
    
print('Addition:', add)

Addition: 100

In [33]:
# Find the factorial of the number 
# 5! = 5 * 4 * 2 * 3 * 1

num = int(input('Enter the number: '))
fact = 1

for i in range(1, num+1):
    fact = fact * i

print('Factorial:', fact)

Enter the number: 5
Factorial: 120

In [35]:
list(range(1,5+1))

[1, 2, 3, 4, 5]

### break statement

In [38]:
for x in range(10):
    if x == 5:
        break
    print(x)

0
1
2
3
4

### continue statement

In [40]:
for x in range(10):
    if x == 5:
        continue
    print(x)

0
1
2
3
4
6
7
8
9

In [41]:
for x in range(10):
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [42]:
for x in range(10):
    if x == 5 or x == 8:
        continue
    print(x)

0
1
2
3
4
6
7
9